/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT	0
#define MAC	1
#define LOWER	2
#define RAISE	3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
//
/* QWERTY
 * ,-----------------------------------------.                       ,-----------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |                       |   6  |   7  |   8  |   9  |   0  |   -  |
 * |------+------+------+------+------+------|                       |------+------+------+------+------+------|
 * | TAB  |   Q  |   W  |   E  |   R  |   T  |                       |   Y  |   U  |   I  |   O  |   P  | Bspc |
 * |------+------+------+------+------+------|                       |------+------+------+------+------+------|
 * | LCTR |   A  |   S  |   D  |   F  |   G  |-------.       ,-------|   H  |   J  |   K  |   L  |   ;  |  '   |
 * |------+------+------+------+------+------|  N/A  |       |  N/A  |------+------+------+------+------+------|
 * |LShift|   Z  |   X  |   C  |   V  |   B  |-------|       |-------|   N  |   M  |   ,  |   .  |   /  |LShift|
 * `-----------------------------------------/       /        \      \-----------------------------------------'
 *            |      | WIN  |  ALT | LOWER| / Space /          \Enter \  |RAISE |R-ALT | WIN  |      |
 *            |      |      |      |      |/       /            \      \ |      |      |      |      |
 *            `----------------------------------'               '------''---------------------------'
 */
            bindings = <
&kp GRAVE &kp N1 &kp N2   &kp N3   &kp N4    &kp N5                         &kp N6     &kp N7    &kp N8    &kp N9   &kp N0   &kp MINUS
&kp TAB   &kp Q  &kp W    &kp E    &kp R     &kp T                          &kp Y      &kp U     &kp I     &kp O    &kp P    &kp BSPC
&kp LCTRL &kp A  &kp S    &kp D    &kp F     &kp G                          &kp H      &kp J     &kp K     &kp L    &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X    &kp C    &kp V     &kp B  &kp C_MUTE    &none     &kp N      &kp M     &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
                 &none    &kp LGUI &kp LALT  &mo 2  &kp SPACE     &kp RET   &mo 3      &kp RALT  &kp RGUI  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        mac_layer {
/* MAC
 * ,-----------------------------------------.                       ,-----------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |                       |   6  |   7  |   8  |   9  |   0  |   -  |
 * |------+------+------+------+------+------|                       |------+------+------+------+------+------|
 * | TAB  |   Q  |   W  |   E  |   R  |   T  |                       |   Y  |   U  |   I  |   O  |   P  | Bspc |
 * |------+------+------+------+------+------|                       |------+------+------+------+------+------|
 * | LCTR |   A  |   S  |   D  |   F  |   G  |-------.       ,-------|   H  |   J  |   K  |   L  |   ;  |  '   |
 * |------+------+------+------+------+------|  N/A  |       |  N/A  |------+------+------+------+------+------|
 * |LShift|   Z  |   X  |   C  |   V  |   B  |-------|       |-------|   N  |   M  |   ,  |   .  |   /  |LShift|
 * `-----------------------------------------/       /        \      \-----------------------------------------'
 *            |      | ALT  |  MAC | LOWER| / Space /          \Enter \  |RAISE |  MAC | ALT  |      |
 *            |      |      |      |      |/       /            \      \ |      |      |      |      |
 *            `----------------------------------'               '------''---------------------------'
 */
            bindings = <
&kp GRAVE &kp N1 &kp N2   &kp N3   &kp N4    &kp N5                         &mt 4 N6 &kp N7    &kp N8    &kp N9   &kp N0   &kp MINUS
&kp TAB   &kp Q  &kp W    &kp E    &kp R     &kp T                          &kp Y      &kp U     &kp I     &kp O    &kp P    &kp BSPC
&kp LCTRL &kp A  &kp S    &kp D    &kp F     &kp G                          &kp H      &kp J     &kp K     &kp L    &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X    &kp C    &kp V     &kp B  &kp C_MUTE    &none     &kp N      &kp M     &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
                 &none    &kp LALT &kp LGUI  &mo 2  &kp SPACE     &kp RET   &mo 3      &kp RGUI  &kp RALT  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };		


        lower_layer {
// TODO: Some binds are waiting for shifted keycode support.
/* LOWER
 * ,-----------------------------------------.                    ,-----------------------------------------.
 * |  ESC |  F1  |  F2  |  F3  |  F4  |  F5  |                    |  F6  |  F7  |  F8  |  F9  | F10  | F11  |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * | CAPS |  BT0 |  BT1 |  BT2 |  BT3 |  BT4 |                    | PG_UP| PG_DN| INS  | HOME |  END | F12  |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * | trans|      |      |      |      |BT_CLR|-------.    ,-------|      |  UP  |      |      |      | Del  |
 * |------+------+------+------+------+------|       |    |       |------+------+------+------+------+------|
 * | trans|      |      |      |      |      |-------|    |-------| LEFT | DOWN |RIGHT |      |      |PrntSc|
 * `-----------------------------------------/       /     \      \-----------------------------------------'
 *            |      |  WIN |  ALT | LOWER| / Space /       \Enter \  |RAISE |      |      |      |
 *            |      |      |      |      |/       /         \      \ |      |      |      |      |
 *            `----------------------------------'            '------''---------------------------'
 */
            bindings = <
&kp ESC   &kp F1       &kp F2        &kp F3        &kp F4         &kp F5                        &kp F6     &kp F7     &kp F8      &kp F9    &kp F10     &kp F11
&kp CAPS  &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &none                         &kp PG_UP  &kp PG_DN  &kp INS     &kp HOME  &kp END     &kp F12
&trans    &none        &none         &none         &none          &bt BT_CLR                    &none      &kp UP     &none       &none     &none       &kp DEL
&trans    &none        &none         &none         &none          &none       &trans     &trans &kp LEFT   &kp DOWN   &kp RIGHT   &none     &none       &kp PSCRN
                       &trans        &trans        &trans         &trans      &trans     &trans &trans     &trans     &trans      &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
/* RAISE
 * ,----------------------------------------.                     ,-----------------------------------------.
 * |   `  |   1  |   2  |   3  |   4  |   5  |                    |   6  |   7  |   8  |   9  |   0  |  -  |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * | Esc  | Ins  | Pscr | Menu |      |      |                    |   ^  |   &  |   *  |   (  |   )  | Bspc |
 * |------+------+------+------+------+------|                    |------+------+------+------+------+------|
 * | Tab  | LAt  | LCtl |LShift|      | Caps |-------.    ,-------|   -  |   =  |   {  |   }  |   |  |   `  |
 * |------+------+------+------+------+------|  MUTE  |   |       |------+------+------+------+------+------|
 * |Shift | Undo |  Cut | Copy | Paste|      |-------|    |-------|   _  |   +  |   [  |   ]  |   \  |   ~  |
 * `-----------------------------------------/       /     \      \-----------------------------------------'
 *            |      |  WIN |  ALT | LOWER| / Space /       \Enter \  |RAISE |      |      |      |
 *            |      |      |      |      |/       /         \      \ |      |      |      |      |
 *            `----------------------------------'            '------''---------------------------'	
 */
            bindings = <
&kp GRAVE  &kp N1      &kp N2       &kp N3       &kp N4       &kp N5                      &kp N6    &kp N7    &kp N8     &kp N9    &kp N0    &kp MINUS
&tog 0     &kp INS     &kp PSCRN    &kp K_CMENU  &trans       &trans                      &kp CARET &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&tog 1     &kp LALT    &kp LCTRL    &kp LSHFT    &trans       &kp CLCK                    &kp MINUS &kp EQUAL &kp LBRC   &kp RBRC  &kp PIPE  &kp GRAVE
&kp LSHFT  &kp K_UNDO  &kp K_CUT    &kp K_COPY   &kp K_PASTE  &trans   &trans     &trans  &kp UNDER &kp PLUS  &kp LBKT   &kp RBKT  &kp BSLH  &kp TILDE
                       &trans       &trans       &trans       &trans   &trans     &trans  &trans    &trans    &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
		
		
    };
};
